.menu {
  margin: 2rem;
  float: right;

  &-nav {
    margin: 0;
    padding: 0;
  }

  .nav-link {
    text-decoration: none;
    color: $text-color;
    &:hover {
      color: $seconday-color;
    }
  }

  .nav-item {
    display: inline;
    padding: 0 20px 0 20px;
  }
}
